:root {
  --blue:#264888;
  --red:#691829;
  --green:#677a7a;
  --yellow:#d1ae72;
  --grey:#283838;
}

body {
  background-image: url("../assets/images/Nihonga.jpg");
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 1024px;
}

textarea {
  background: white;
  border: none;
  resize: none;
  color:var(--grey)
  border-left: 1px solid rgb(82, 82, 82);
  padding: 10px;
  letter-spacing: 1px;
}

.jumbotron {
  border-color: transparent;
  text-align: center;
  color:var(--red);
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-bottom: 10px solid var(--blue));
}

#clearFieldsBtn {
  margin-top: 10px;
  align-content: center;
}

.description {
  white-space: pre-wrap;
  font-weight: 600;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color:moccasin;
  color:var(--grey);
  padding-top: 27px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
}

.past {
  background-color:var(--grey);
  border-radius: 15px;
  color: white;
}

.present {
  background-color:var(--yellow);

  border-radius: 15px;
}

.future {
  background-color:var(--green);
  border-radius: 15px;
}

.saveBtn {
  border-left: 1px solid var(--grey);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--red);
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.saveBtn i:after{
  background-color: var(--grey);

}
.white-text {
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color:white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color:var(--blue);
  color: white;
}

.present {
  background-color: var(--red);
  color: white;
}

.future {
  background-color:var(--yellow);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:var(--red));
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

