:root {
  --blue:#264888;
  --red:#691829;
  --green:#677a7a;
  --yellow:#d1ae72;
  --grey:#283838;
}

body {

  background-image: url("./assets/images/Nihonga.jpg");
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 1024px;
}

textarea {
  background: white;
  border: none;
  resize: none;
  color:grey;
  letter-spacing: 1px;
}

.jumbotron {
  text-align: center;
  background-color:transparent;
  color:white;
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.description {
  white-space: pre-wrap;
  font-weight: 600;
  justify-content: center;
  margin-left: 45%;
}

.time-block {
  text-align: center;
  justify-content: center;
  white-space: pre-wrap;
  height: 80px;
  width:80px;
  border-bottom: dashed;
}

.placeholder {
  text-align: center;
}

.hour {
  padding-top: 27px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
  border-right: 1px solid #000000;
}

.past {
  background-color:var(--blue);
  color: white;
}
.present {
  background-color: var(--red);
  color: white;
}

.future {
  background-color:var(--yellow);
  color:black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:var(--red);
  color: white;
}

.saveBtn :hover {
  background-color:var(--green);
  transition: all 0.3s ease-in-out;
}

#clearFieldsBtn {
  margin-top: 20px;
  align-content: center;
  margin-left: 48%;
  text-align: center;
  background-color:var(--red);
}

